{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Robo Advisor</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
    </head>
    <body>
        <div id="header">
            <h1>Welcome to the UChicago Robo-Advisor!</h1>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Start" />
            </form>
        </div>

        {% if err %}
        <div class ="error">
            {{ err|safe }}
        </div>
        {% endif %}

