{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Personal Finance Quiz</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Personal Finance Quiz</h1>
        </div>
        <div>
            <iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~badusumilli/20/.embed?width=800 height=600">
            </iframe>
        <div/>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if err %}
        <div class ="error">
            {{ err|safe }}
        </div>
        {% endif %}

