{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <title>Personal Finance Quiz</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    </head>

    <body>

        <div id="header">
            <table>
                <input type="submit" name='home' value="Start Over"/>
                <h1>ACC Robo-Advisor Personal Finance Quiz</h1>
            </table>
        </div>

        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit"  /> 
                </input>
            </form>
        </div>

        {% if err %}
        <div class ="error">
            {{ err|safe }}
        </div>
        {% endif %}

